<div class="page-content">
    <div class="page-header">
        <h1>
            Dropzone.js
            <small>
                <i class="icon-double-angle-right"></i>
                Drag &amp; drop file upload with image preview
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div id="dropzone">
                <form action="//dummy.html" class="dropzone dz-clickable">

                    <div class="dz-default dz-message"><span><span class="bigger-150 bolder"><i class="icon-caret-right red"></i> Drop files</span> to upload 				<span class="smaller-80 grey">(or click)</span> <br> 				<i class="upload-icon icon-cloud-upload blue icon-3x"></i></span></div></form>
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>